{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'stakeholder/airui/head.html' %}
</head>
  <body class="air__menu--gray">
  <div class="air__initialLoading"></div>
  <div class="air__layout air__layout--hasSider">
    {% include 'stakeholder/airui/includes/sidebar.html' %}
    <div class="air__layout">
      {% include 'stakeholder/airui/includes/header.html' %}
      
      {% block content %}
      {% endblock content %}

      {% include 'stakeholder/airui/includes/footer.html' %}
    </div>
  </div>
</body>
</html>