{% extends "external/airui/dashboard-base.html" %}
{% load static %}

{% block content %}
<style>
  .ct-bar{
    stroke-width: 20;
  }
  .survey .ct-bar{
    stroke-width: 30;
  }
  .survey .ct-bar{
    stroke: steelblue;
  }
  .akademik .ct-bar{
    stroke: maroon;
  }
  .fasilitas .ct-bar{
    stroke: skyblue;
  }
  .layanan .ct-bar{
    stroke: lightgreen;
  }
  .kopetensi .ct-bar{
    stroke: lightyellow;
  }
</style>
<div class="air__layout__content">
  <div class="air__utils__content">
    <div class="air__utils__heading">
      <h5>Dashboard Alumni</h5>
    </div>
    <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-lg-5">
            <h3 style="padding-top:50%;padding-bottom: 50%;"><b>Presentase Kepuasan Wisudawan April 2021 Pada Tiap Kategori (%)</b></h3>
          </div>
          <div class="col-lg-6">
            <div class="mb-5">
              <div class="survey height-400 width-500"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-lg-5">
          <h3>Kategori Akademik</h3>
          <h6>A.1 Sistem penerimaan mahasiswa baru</h6>
          <h6>A.2 Kompetensi/kemampuan dosen.</h6>
          <h6>A.3 Pembimbingan akademik oleh dosen wali</h6>
          <h6>A.4 Suasana akademik termasuk penyelenggaraan
          seminar, diskusi, dan kegiatan ilmiah lainnya</h6>
          <h6>A.5 Pembimbingan tugas akhir</h6>
          <h6>A.6 Sistem evaluasi belajar mengajar</h6>
          <h6>A.7 Program pendidikan, termasuk kurikulum</h6>
          <h6>A.8 Proses belajar mengajar (kuliah dan praktikum/studio)</h6>  
          </div>
          <div class="col-lg-6">
            <div class="akademik height-300"></div>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <h3>Kategori Fasilitas</h3>
                <h6>F.1 Fasilitas perpustakaan</h6>
                <h6>F.2 Fasilitas kegiatan keagamaan</h6>
                <h6>F.3 Fasilitas teknologi informasi dan komunikasi termasuk akses internet</h6>
                <h6>F.4 Fasilitas kegiatan olahraga, seni dan budaya, Tingkat Kepentingan</h6>
                <h6>F.5 Fasilitas kesehatan</h6>
                <h6>F.6 Fasilitas kantin</h6>
                <h6>F.7 Fasilitas laboratorium/studio untuk praktikum atau penelitian</h6>
                <h6>F.8 Fasilitas umum lainnya (toilet, taman, ketersediaan tempat sampah dan parkir)</h6>
                <h6>F.9 Fasilitas ruang kuliah</h6>
                <h6>F.10 Fasilitas asrama</h6>
            </div>  
          <div class="col-lg-6">
            <div class="mb-5">
                <div class="fasilitas height-300"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
        <div class="row">   
            <div class="col-lg-5">
                <h3>Kategori Layanan</h3>
                <h6>L.1 Layanan perpustakaan</h6>
                <h6>L.2 Layanan pengembangan minat dan bakat, kemandirian melalui UKM</h6>
                <h6>L.3 Layanan Program Kreativitas Mahasiswa (PKM)</h6>
                <h6>L.4 Layanan administrasi akademik</h6>
                <h6>L.5 Layanan bimbingan dan konseling</h6>
                <h6>L.6 Layanan bimbingan karier dan ketenagakerjaan</h6>
                <h6>L.7 Layanan beasiswa</h6>
                <h6>L.8 Layanan kesehatan</h6>
            </div>  
          <div class="col-lg-6">
            <div class="mb-5">
                <div class="layanan height-300"></div>
               </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-lg-5">
            <h3>Kategori Peningkatan Kompetensi</h3>
            <h6>K.1 Kemampuan bekerja secara mandiri</h6>
            <h6>K.2 Kemampuan berpikir logis</h6>
            <h6>K.3 Kemampuan bekerja dalam tim</h6>
            <h6>K.4 Kemampuan pemecahan masalah</h6>
            <h6>K.5 Kemampuan kepemimpinan</h6>
            <h6>K.6 Kemampuan berkomunikasi</h6>
            <h6>K.7 Kemampuan penguasaan teknologi informasi (IT)</h6>
            <h6>K.8 Kemampuan berbahasa asing (Bahasa Inggris)</h6>
            </div>
            <div class="col-lg-6"> 
                <div class="mb-5">
                    <div class="kompetensi height-300"></div>
                 </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>

<script>
  //survey
  (function ($) {
      "use strict";
      $.getJSON("/static/data/stakeholder/alumni/alumni.json", function (data) {
        /////////////////////////////////////////////////////////////////////////////////////////
        const chartist3 = new Chartist.Bar(
          ".survey",
          {
            labels: data.map(function(data){return data.survey}),
            series: [data.map(function(data){return data.value})]},
          {
            
            fullWidth: true,

            low: 0,
            axisY: {
              showGrid: false,
              showLabel: true,
              //offset: 0,
            },
            axisX: {
              showGrid: false,
            },
            seriesBarDistance: 5,
          }
        );

        chartist3.on("draw", function (data) {
          if (data.type === "bar") {
            data.group.append(
              new Chartist.Svg("line", {
                x1: data.x1,
                x2: data.x2,
                y1: data.y2,
                y2: 0,
                stroke: "#e4e9f0",
                "stroke-width": "30",
              })
            );
          }
        });
        /////////////////////////////////////////////////////////////////////////////////////////
      });
    })(jQuery);  


  //akademik
  (function ($) {
      "use strict";
      $.getJSON("/static/data/stakeholder/alumni/alumni_akademik.json", function (data) {
        /////////////////////////////////////////////////////////////////////////////////////////
        const chartist3 = new Chartist.Bar(
          ".akademik",
          {
            labels: data.map(function(data){return data.survey}),
            series: [data.map(function(data){return data.value})]},
          {
            
            fullWidth: true,
            low: 80,
            axisY: {
              showGrid: false,
              showLabel: true,
              //offset: 80,
            },
            axisX: {
              showGrid: false,
            },
            seriesBarDistance: 15,

          }
        );

        chartist3.on("draw", function (data) {
          if (data.type === "bar") {
            data.group.append(
              new Chartist.Svg("line", {
                x1: data.x1,
                x2: data.x2,
                y1: data.y2,
                y2: 0,
                stroke: "#e4e9f0",
                "stroke-width": "20",
              })
            );
          }
        });
        /////////////////////////////////////////////////////////////////////////////////////////
      });
    })(jQuery);  

  //fasilitas
  (function ($) {
      "use strict";
      $.getJSON("/static/data/stakeholder/alumni/alumni_fasilitas.json", function (data) {
        /////////////////////////////////////////////////////////////////////////////////////////
        const chartist3 = new Chartist.Bar(
          ".fasilitas",
          {
            labels: data.map(function(data){return data.survey}),
            series: [data.map(function(data){return data.value})]},
          {
            
            fullWidth: true,
            low: 77,
            axisY: {
              showGrid: false,
              showLabel: true,
              offset: 80,
            },
            axisX: {
              showGrid: false,
            },
            seriesBarDistance: 25,
            stroke: "#07da63",
          }
        );

        chartist3.on("draw", function (data) {
          if (data.type === "bar") {
            data.group.append(
              new Chartist.Svg("line", {
                x1: data.x1,
                x2: data.x2,
                y1: data.y2,
                y2: 0,
                stroke: "#e4e9f0",
                "stroke-width": "20",
              })
            );
          }
        });
        /////////////////////////////////////////////////////////////////////////////////////////
      });
    })(jQuery); 

  //layanan
  (function ($) {
      "use strict";
      $.getJSON("/static/data/stakeholder/alumni/alumni_layanan.json", function (data) {
        /////////////////////////////////////////////////////////////////////////////////////////
        const chartist3 = new Chartist.Bar(
          ".layanan",
          {
            labels: data.map(function(data){return data.survey}),
            series: [data.map(function(data){return data.value})]},
          {
            
            fullWidth: true,
            low: 80,
            axisY: {
              showGrid: false,
              showLabel: true,
              offset: 80,
            },
            axisX: {
              showGrid: false,
            },
            seriesBarDistance: 25,
            stroke: "#07da63",
          }
        );

        chartist3.on("draw", function (data) {
          if (data.type === "bar") {
            data.group.append(
              new Chartist.Svg("line", {
                x1: data.x1,
                x2: data.x2,
                y1: data.y2,
                y2: 0,
                stroke: "#e4e9f0",
                "stroke-width": "20",
              })
            );
          }
        });
        /////////////////////////////////////////////////////////////////////////////////////////
      });
    })(jQuery);

  //kompetensi
  (function ($) {
      "use strict";
      $.getJSON("/static/data/stakeholder/alumni/alumni_peningkatanKompetensi.json", function (data) {
        /////////////////////////////////////////////////////////////////////////////////////////
        const chartist3 = new Chartist.Bar(
          ".kompetensi",
          {
            labels: data.map(function(data){return data.survey}),
            series: [data.map(function(data){return data.value})]},
          {
            
            fullWidth: true,
            low: 80,
            axisY: {
              showGrid: false,
              showLabel: true,
              offset: 80,
            },
            axisX: {
              showGrid: false,
            },
            seriesBarDistance: 25,
            stroke: "#07da63",
          }
        );

        chartist3.on("draw", function (data) {
          if (data.type === "bar") {
            data.group.append(
              new Chartist.Svg("line", {
                x1: data.x1,
                x2: data.x2,
                y1: data.y2,
                y2: 0,
                stroke: "#e4e9f0",
                "stroke-width": "20",
              })
            );
          }
        });
        /////////////////////////////////////////////////////////////////////////////////////////
      });
    })(jQuery);  
</script>


{% endblock content %}