{% extends "external/airui/dashboard-base.html" %}
{% load static %}

{% block content %}
<div class="air__layout__content">
  <div class="air__utils__content">
    <div class="air__utils__heading">
      <h5>Dashboard Mitra</h5>
    </div>
    <h5><strong>TELKOM UNIVERSITY TAHUN 2020</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="telu"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan mitra Telkom University tahun 2020 adalah 89.74</li>
            <li>Tingkat Kepuasan mitra Telkom University tahun 2020 adalah 92.54</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>DIREKTORAT AKADEMIK</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="da"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Direktorat Akademik adalah 77.08</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Direktorat Akademik adalah 94.44</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>DIREKTORAT PASCA SARJANA DAN ADVANCE LEARNING</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="dpsal"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Direktorat Pasca Sarjana dan Advance Learning adalah 80.90</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Direktorat Pasca Sarjana dan Advance Learning adalah 95.83</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>DIREKTORAT PEMASARAN DAN ADMISI</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="dpa"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Direktorat Pemasaran dan Admisi adalah 86.13</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Direktorat Pemasaran dan Admisi adalah 83.61</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>DIREKTORAT PENELITIAN DAN PENGABDIAN MASYARAKAT</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="dppm"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Direktorat Penelitian dan Pengabdian Masyarakat adalah 94.44</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Direktorat Penelitian dan Pengabdian Masyarakat adalah 94.44</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>DIREKTORAT PENGEMBANGAN KARIR, ALUMNI DAN ENDOWMENT</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="dpkae"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Direktorat Pengembangan Karir, Alumni dan Endowment adalah 91.45</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Direktorat Pengembangan Karir, Alumni dan Endowment adalah 96.67</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>FAKULTAS EKONOMI DAN BISNIS</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="feb"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Fakultas Ekonomi dan Bisnis adalah 86.81</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Fakultas Ekonomi dan Bisnis adalah 95.83</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>FAKULTAS INDUSTRI KREATIF</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="fik"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Mitra Kerjasama Fakultas Industri Kreatif adalah 86.62</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Fakultas Industri Kreatif adalah 86.31</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>FAKULTAS KOMUNIKASI DAN BISNIS</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="fkb"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Fakultas Komunikasi dan Bisnis adalah 90.63</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Fakultas Komunikasi Bisnis adalah 96.67</li>
          </div>
        </div>
      </div>
    </div>

    <h5><strong>PUSAT PENELITIAN CENTER FOR DIGITAL BUSINESS ECOSYSTEM/DBE</strong></h5>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div id="ppcfdbe"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <strong>Dimana: </strong>
            <div><strong>P.1</strong> Telkom University melayani Institusi dengan baik, tepat dan profesional
              (Partnership).</div>
            <div><strong>P.2</strong> Telkom University menerima saran/ masukan dari Institusi secara terbuka
              (Awareness Improvement-
              Communication).</div>
            <div><strong>P.3</strong> Naskah MoU/ MoA/sejenisnya disusun dan ditulis dengan tepat dengan maksud,
              tujuan dan sasaran
              institusi
              (Coordination/ Administration- Program Planning).</div>
            <div><strong>P.4</strong> Kerjasama ini sesuai dengan kebutuhan dan harapan dari Institusi kami
              (Relationship Management).
            </div>
            <div><strong>P.5</strong> Selama masa berlaku MoU/MoA/ sejenisnya, telah direalisasikan suatu kegiatan
              kerjasama yang
              bermanfaat
              bagi Institusi (Program Management).</div>
            <div><strong>P.6</strong> Pihak kami memiliki itikad untuk melanjutkan kerjasama (MoU/MoA/ sejenisnya)
              apabila masa berlaku
              MOU/MOA/sejenisnya, akan berakhir. (Monitoring).</div>
          </div>
        </div>

      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <li>Rata-rata kepuasan Mitra Kerjasama Pusat Penelitian Center For Digital Business Ecosystem/DBE adalah
              92.36</li>
            <li>Tingkat Kepuasan Mitra Kerjasama Pusat Penelitian Center For Digital Business Ecosystem/DBE adalah 94.44
            </li>
          </div>
        </div>
      </div>
    </div>

    <script src="https://d3js.org/d3.v4.js"></script>

    <script>

      // set the dimensions and margins of the graph
      var margin = { top: 10, right: 30, bottom: 20, left: 50 },
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

      // TELKOM UNIVERSITY TAHUN 2020
      // append the svg object to the body of the page
      var telu = d3.select("#telu")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        telu.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        telu.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        telu.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // DIREKTORAT AKADEMIK
      // append the svg object to the body of the page
      var da = d3.select("#da")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        da.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        da.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        da.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // DIREKTORAT PASCA SARJANA DAN ADVANCE LEARNING
      // append the svg object to the body of the page
      var dpsal = d3.select("#dpsal")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        dpsal.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        dpsal.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        dpsal.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // DIREKTORAT PEMASARAN DAN ADMISI
      // append the svg object to the body of the page
      var dpa = d3.select("#dpa")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        dpa.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        dpa.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        dpa.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // DIREKTORAT PENELITIAN DAN PENGABDIAN MASYARAKAT
      // append the svg object to the body of the page
      var dppm = d3.select("#dppm")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        dppm.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        dppm.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        dppm.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // DIREKTORAT PENGEMBANGAN KARIR, ALUMNI DAN ENDOWMENT
      // append the svg object to the body of the page
      var dpkae = d3.select("#dpkae")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        dpkae.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        dpkae.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        dpkae.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // FAKULTAS EKONOMI DAN BISNIS
      // append the svg object to the body of the page
      var feb = d3.select("#feb")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        feb.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        feb.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        feb.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // FAKULTAS INDUSTRI KREATIF
      // append the svg object to the body of the page
      var fik = d3.select("#fik")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        fik.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        fik.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        fik.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // FAKULTAS KOMUNIKASI DAN BISNIS
      // append the svg object to the body of the page
      var fkb = d3.select("#fkb")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      // Parse the Data
      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        fkb.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        fkb.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        fkb.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

      // PUSAT PENELITIAN CENTER FOR DIGITAL BUSINESS ECOSYSTEM/DBE
      // append the svg object to the body of the page
      var ppcfdbe = d3.select("#ppcfdbe")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

      d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_stacked.csv", function (data) {

        // List of subgroups = header of the csv files = soil condition here
        var subgroups = data.columns.slice(1)

        // List of groups = species here = value of the first column called group -> I show them on the X axis
        var groups = d3.map(data, function (d) { return (d.group) }).keys()

        // Add X axis
        var x = d3.scaleBand()
          .domain(groups)
          .range([0, width])
          .padding([0.2])
        ppcfdbe.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x).tickSize(0));

        // Add Y axis
        var y = d3.scaleLinear()
          .domain([0, 40])
          .range([height, 0]);
        ppcfdbe.append("g")
          .call(d3.axisLeft(y));

        // Another scale for subgroup position?
        var xSubgroup = d3.scaleBand()
          .domain(subgroups)
          .range([0, x.bandwidth()])
          .padding([0.05])

        // color palette = one color per subgroup
        var color = d3.scaleOrdinal()
          .domain(subgroups)
          .range(['#e41a1c', '#377eb8', '#4daf4a'])

        // Show the bars
        ppcfdbe.append("g")
          .selectAll("g")
          // Enter in data = loop group per group
          .data(data)
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + x(d.group) + ",0)"; })
          .selectAll("rect")
          .data(function (d) { return subgroups.map(function (key) { return { key: key, value: d[key] }; }); })
          .enter().append("rect")
          .attr("x", function (d) { return xSubgroup(d.key); })
          .attr("y", function (d) { return y(d.value); })
          .attr("width", xSubgroup.bandwidth())
          .attr("height", function (d) { return height - y(d.value); })
          .attr("fill", function (d) { return color(d.key); });

      })

    </script>
  </div>
</div>
{% endblock content %}